# Xcode
*.xcodeproj/
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build
build/
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.idea/
*.swp
*.swo
*~

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Environment
.env
.env.*
